@import "shared/NCC";

.AF-Category-LGSS {
    @import "shared/LGSS";
}
.AF-Category-YouthWorks {
	@import "shared/YouthWorks";
}	
.AF-Category-Highways{
	@import "shared/Highways";
}
.AF-Category-FireRescue{
	@import "shared/FireRescue";
}
.AF-Category-NSCB{
	@import "shared/NSCB";
}
.AF-Category-FfW{
	@import "shared/FfW";
}