#header {
	background-color: #339900;
}

.col-md-4 {
	#ncc-logo {
		display: block;
	}
}

.FooterArea {
	background-color: #339900;
	box-shadow: 0px 1000px 0px 1000px #339900;

	#NCC-Footer {
		display: none;
	}

	#PrivacyNotice-Footer {
		display: block;
		color: #FFFFFF;

		a{
			text-decoration:underline;
			color: white;
			font-weight: bold;
		}
	}
}