#header {
	background-color: #FFFFFF;
}

.col-md-4 {
	#ncc-logo {
		display: none;
	}
	#NSCB-logo{
		display: block;
	}
}

.FooterArea {
	background-color: #FFFFFF;
	box-shadow: 0px 1000px 0px 1000px #FFFFFF;

	#NCC-Footer {
		display: none;
	}

	#PrivacyNotice-Footer {
		display: block;
		color: #000000;

		a{
			text-decoration:underline;
			color: #000000;
			font-weight: bold;
		}
	}
}