#header {
	background-color: #CCCCCC;
}

a.btn.btn-lg.btn-primary.top {
	background-color: #CCCCCC;
	border-color: #CCCCCC;
}

a.btn.btn-lg.btn-primary.top:hover {
	background-color: #D7D7D7; 
	border-color: #D7D7D7;
}